<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<appSettings>
		<add key="authToken" value="S=s1:U=8eb70:E=14ebcb30cf9:C=1476501de18:P=1cd:A=en-devtoken:V=2:H=3c458dbe37fb49eb5ffd8d5ef9508937" />
		<add key="evernoteHost" value="sandbox.evernote.com" />
	</appSettings>

	<system.net>
		<mailSettings>
			<smtp from="bernardo.loureiro@qx3.com.br">
				<network host="192.168.0.9" port="25" defaultCredentials="true" />
			</smtp>
		</mailSettings>
	</system.net>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>